@import "./vars";

.fv-firavahana {
	.box {
		text-align: center;
		.image-data {
			margin-left: 10px;
			margin-right: 10px;
			width: 40%;
			height: 30%;
		}
	}
	.card-list {
		display: block;
		width: 100%;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		.card {
			display: inline-block;
			vertical-align: top;
			width: 30%;
			height: 320px;
			border-radius: 10px;
			overflow: hidden;
			background: white;
			margin: 10px;
			box-shadow: 0px 0px 1px black;
			transition: all 0.2s ease-in-out;
			&:hover {
				box-shadow: 0px 0px 10px grey;
			}
			.title {
				padding-top: 20px;
			}
			.text {
				padding: 20px;
				height: 170px;
			}
			.check {
				color: rgb(50, 50, 50);
				font-size: 33pt;
			}
		}
	}
	.details {
		display: block;
		width: 100%;
		box-shadow: 0px 0px 20px grey;
		margin-top: 40px;
		.row {
			display: block;
			width: 100%;
			height: 300px;
			background: white;
			.box1 {
				display: inline-block;
				vertical-align: top;
				width: 50%;
				height: 100%;
				overflow: hidden;
				.title {
					padding: 20px;
				}
				.separator {
					display: block;
					width: 65%;
					height: 3px;
					background: rgb(170, 170, 170);
					margin: auto;
				}
				.text {
					padding: 20px;
				}
			}
			.box2 {
				display: inline-block;
				vertical-align: top;
				width: 50%;
				height: 100%;
				overflow: hidden;
				box-shadow: 0px 0px 1px black;
				.image-data {
					width: 100%;
					height: 100%;
					.box {
						border-radius: 0;
					}
				}
			}
		}
	}
}