$fv-screen-xlg: 99999px;
$fv-screen-lg: 1440px;
$fv-screen-md: 900px;
$fv-screen-sm: 768px;
$fv-screen-xsm: 550px;

$fv-board-width: 318px;
$fv-board-height: 378px;
$fv-board-box-size: 106px;

$fv-color: rgb(245, 245, 245);